{% extends "allocate_app/base.html" %}
{% block content %}
<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Unallocated events</h3>
        </div>
        <div class="panel-body" ondrop="app.drop(event)" ondragover="app.allowDrop(event)">
            <ul id="events-unallocated" class="list-group event-list">
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Projects<button id="add-new-project" class="btn btn-success pull-right">Add</button></h3>
        </div>
        <div id="project-list" class="panel-body"></div>
    </div>
</div>
<div style="display: none;" id="events_json">
{{todays_events}}
</div>
<div style="display: none;" id="projects_json">
{{projects}}
</div>
{% endblock %}
